In [18]:
!pip install numpy
!pip install pandas
!pip install sklearn
!pip install gensim
!pip install chardet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.21.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sklearn in c:\users\shravani\appdata\roaming\python\python39\site-packages (0.0.post5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: gensim in c:\programdata\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: scipy>=0.18.1 in c:\programdata\anaconda3\lib\site-packages (from gensim) (1.9.1)
Requirement already satisfied: numpy>=1.17.0 in c:\programdata\anaconda3\lib\site-packages (from gensim) (1.21.5)
Requirement already satisfied: smart-open>=1.8.1 in c:\programdata\anaconda3\lib\site-packages (from gensim) (5.2.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: chardet in c:\programdata\anaconda3\lib\site-packages (4.0.0)

In [19]:
import numpy as np
import pandas as pd
import chardet
from gensim import parsing
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score,confusion_matrix,precision_score,recall_score,accuracy_score

In [20]:
df = pd.read_csv(r"C:\Users\SHRAVANI\OneDrive\Documents\HDLC_Internship\archive (5)\spam.csv",encoding=('ISO-8859-1'))

In [21]:
df['v1'] = df.v1.map({'ham':0,'spam':1})

In [22]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,0,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,0,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,0,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,1,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,0,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,0,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,0,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,0,Rofl. Its true to its name,NaN,NaN,NaN

In [23]:
df = df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"], axis=1)

In [24]:
df.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [25]:
dataset = df.values
np.random.shuffle(dataset)

In [26]:
X = dataset[:,1]
Y = dataset[:,0]
Y = Y.astype('int32')

In [27]:
for i in range(X.shape[0]):
    X[i] = parsing.stem_text(X[i].lower())

In [28]:
vectorizer = CountVectorizer()
X_transformed = vectorizer.fit_transform(X)

# Split into Test Data and Training Data

In [29]:
X_train = X_transformed[0:4000,:]
Y_train = Y[0:4000]
X_test = X_transformed[0:4000,:]
Y_test = Y[0:4000]

In [30]:
X_train.shape

(4000, 8264)

# Metrics Function

In [31]:
def print_metrics(Y_true, Y_predicted):
    print("Accuracy Score :"+ str(accuracy_score(Y_true, Y_predicted)))
    print("Precision Score :"+ str(precision_score(Y_true, Y_predicted)))
    print("Recall Score :"+ str(recall_score(Y_true, Y_predicted)))
    print("ROC AUC Score :"+ str(roc_auc_score(Y_true, Y_predicted)))
    print("Confusion Matrix : \n")
    print(confusion_matrix(Y_true,Y_predicted))

# Fit the Multinomial Naive Bayes Model

In [32]:
bayes_clf = MultinomialNB()
bayes_clf.fit(X_train, Y_train)

MultinomialNB()

In [33]:
Y_predicted = bayes_clf.predict(X_test)

In [34]:
print_metrics(Y_test,Y_predicted)

Accuracy Score :0.99325
Precision Score :0.9872495446265938
Recall Score :0.9644128113879004
ROC AUC Score :0.9811883719534034
Confusion Matrix :

[[3431    7]
 [  20  542]]

# Fit the SVM

In [35]:
svm_clf = SVC(C = 2000)
svm_clf.fit(X_train, Y_train)

SVC(C=2000)

In [36]:
Y_predicted_svm = svm_clf.predict(X_test)

In [37]:
print_metrics(Y_test, Y_predicted_svm)

Accuracy Score :1.0
Precision Score :1.0
Recall Score :1.0
ROC AUC Score :1.0
Confusion Matrix :

[[3438    0]
 [   0  562]]

# Predict a newtext

In [38]:
def predict(text):
    text = text.lower()
    text = parsing.stem_text(text)
    text_vector = vectorizer.transform([text])
    bayes_prediction = "Spam" if bayes_clf.predict(text_vector) == 1 else "Not_Spam"
    svm_prediction = "Spam" if svm_clf.predict(text_vector) == 1 else "Not_Spam"
    print("According to Bayes Classifier :"+ bayes_prediction)
    print("According to svm Classifier :"+ svm_prediction)

In [39]:
predict("Want 60%, 70%, or 80% off bags & wallets See inside" )

According to Bayes Classifier :Not_Spam
According to svm Classifier :Not_Spam

In [40]:
predict("Claim one of our free rewards. get 1000")

According to Bayes Classifier :Spam
According to svm Classifier :Spam